version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: seguros
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secreto
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: sh -c "php artisan serve --host=0.0.0.0 --port=8000"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: seguros
      DB_USERNAME: postgres
      DB_PASSWORD: secreto
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm run dev -- --host"
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data:

  ##php storm